.header {
  background: #3B82F6;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 3em;
  color: #ffffff;
  font-weight: bold;
}

.header .menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header .menu .menu-item a{
  color: white;
  padding: 6px 12px;
  font-size: 1.5em;
  text-decoration: none;
}


a.active {
  color: #f0ad4e !important;
}
